name: Auto Price Drop Bot

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  repository_dispatch:
    types: [run-bot]

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run bot
        run: python bot.py
        env:
          TrendBuyFinderBot: ${{ secrets.TrendBuyFinderBot }}

      - name: Update last run timestamp
        run: echo "$(date -u +'%Y-%m-%dT%H:%M:%SZ')" > last_run.txt

      - name: Commit timestamp
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add last_run.txt
          git commit -m "Update last run timestamp" || echo "No changes"
          git push
