name: Generate Prices JSON

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install requests beautifulsoup4

    - name: Generate prices.json
      run: |
        python generate_prices.py

    - name: Commit updated price file
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add prices.json
        git commit -m "Updated prices database" || echo "No changes"
        git push
